$bp-xl: 1280px;
$bp-lg: 1100px;
$bp-md: 768px;
$bp-sm: 720px;

@mixin bp-xl {
  @media (max-width: $bp-xl) {
    @content;
  }
}

@mixin bp-lg {
  @media (max-width: $bp-lg) {
    @content;
  }
}

@mixin bp-md {
  @media (max-width: $bp-md) {
    @content;
  }
}

@mixin bp-sm {
  @media (max-width: $bp-sm) {
    @content;
  }
}
